.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='/') Facebook for Goats
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li: a(href='/messages') Messages
          li.unread= user.unreadMessages > 0 ? user.unreadMessages : null
          li: a(href='/users') Public Users
          li: a(href='/profile') Profile
          li
            form.navbar-form(method='post', action='/logout')
              .form-group
                input(type='hidden', name='_method', value='delete')
                button.btn.btn-danger= user.email
        else
          li: a(href='/register') Register
          li: a(href='/login') Login
